
<div class="NavigationsBar">
  <br>
  <h1 class="headerTitle">Employee-Management-Service</h1>
  <div class="containerHeader">
  <input id="inputSearchId" placeholder="Id" class="inputSearch" type="string" >
  <button id="searchEmployee" class="material-icons searchButton" (click)="searchEmployee()">search</button>
</div>
</div>


<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Stadt</th>
    <th>PLZ</th>
    <th>Straße</th>
    <th>Telefonr.</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="!inSearch()">
    <ng-container *ngFor="let e of employees | async">

      <tr *ngIf="!toEdit(e)">
        <td>{{e.id}}</td>
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>{{e.city}}</td>
        <td>{{e.postcode}}</td>
        <td>{{e.street}}</td>
        <td>{{e.phone}}</td>

        <td>
          <button class="material-icons" (click)="edit(e)">edit</button>
        </td>
        <td>
          <button class="material-icons" (click)="delete(e)">delete</button>
        </td>
      </tr>

      <tr *ngIf="toEdit(e)">
        <td>{{e.id}}</td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.firstName">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.lastName">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.city">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.postcode">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.street">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.phone">
        </td>

        <td>
          <button class="material-icons" (click)="saveEdit(e)">save</button>
        </td>
        <td>
        <td>
          <button class="material-icons" (click)="cancelEdit()">cancel</button>
        </td>
      </tr>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="inSearch()">
    <ng-container  *ngIf="( searchedEmployee | async ) as e">

      <tr *ngIf="!toEdit(e)">
        <td>{{e.id}}</td>
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>{{e.city}}</td>
        <td>{{e.postcode}}</td>
        <td>{{e.street}}</td>
        <td>{{e.phone}}</td>

        <td>
          <button class="material-icons" (click)="edit(e)">edit</button>
        </td>
        <td>
          <button class="material-icons" (click)="delete(e)">delete</button>
        </td>
      </tr>

      <tr *ngIf="toEdit(e)">
        <td>{{e.id}}</td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.firstName">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.lastName">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.city">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.postcode">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.street">
        </td>
        <td>
          <input class="form-control"
                 type="string"
                 [(ngModel)]="editEmployee.phone">
        </td>

        <td>
          <button class="material-icons" (click)="saveEdit(e)">save</button>
        </td>
        <td>
        <td>
          <button class="material-icons" (click)="cancelEdit()">cancel</button>
        </td>
      </tr>
    </ng-container>
  </ng-container>

  <tr *ngIf="addRow()">
    <td></td>
    <td>
      <input id="inputVorname" placeholder="Vorname" class="form-control" type="string" >
    </td>
    <td>
      <input id="inputNachname" placeholder="Nachname" class="form-control" type="string">
    </td>
    <td>
      <input id="inputStadt" placeholder="Stadt" class="form-control" type="string">
    </td>
    <td>
      <input id="inputPLZ" placeholder="PLZ" class="form-control" type="string">
    </td>
    <td>
      <input id="inputStraße" placeholder="Straße" class="form-control" type="string">
    </td>
    <td>
      <input id="inputTelefon" placeholder="Telefonnr." class="form-control" type="string">
    </td>

    <td>
      <button class="material-icons" (click)="cancelAdd()">cancel</button>
    </td>

    <td>
      <button class="material-icons" (click)="addEmployee()">save</button>
    </td>
  </tr>

  </tbody>
</table>

<div>
  <button id="addEmployeeButton" class="material-icons" (click)="toAddEmptyRow()">add</button>
</div>
