.inputSearch{
  width:300px;
  background-color: #cccccc;
  border-color: #cccccc;
  border-width: 3px;
}
.searchButton{
position:absolute;
}
#searchEmployee{
size: auto;
border-color: #cccccc;
border-width: 3px;
}

.containerHeader{
  margin-left:5%;
  margin-top: 1%;
}
