<div class="NavigationsBar">
  <br>
  <h1 class="headerTitle">Employee-Management-Service</h1>
</div>
<!-- Button to open the modal login form -->
<button onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="NavigationsBar">
      <br>
      <h1 class="headerTitle">Employee-Management-Service</h1>
    </div>
    <div>
      <label ><b>Username</b></label>
      <input  id="username" type="text" placeholder="Enter Username" name="uname" required>

      <label ><b>Password</b></label>
      <input  id="password" type="password" placeholder="Enter Password" name="psw" required>
      <div [hidden]="!ErrorOnLogin">
        <p>{{ErrorMessage}}</p>
      </div>
      <button type="submit" (click)="login()">Login</button>

    </div>

  </form>
</div>
