/* You can add global styles to this file, and also import other style files */
.NavigationsBar {
  background-color: #04AA6D;
  height: 100px;
  border-bottom: 1px solid black;
}
.headerTitle{
  float: right;
  color: #cccccc;
  margin-right:5%;
  -webkit-text-stroke: 0.8px black;
}
